<!DOCTYPE html>
<html>
  <head>
    <title>Zordia battle</title>
    <link rel="stylesheet" href="styles/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:300,400" rel="stylesheet">
    <!--<script src="fpsmeter.js"></script>-->
  </head>

  <body aurelia-app="main">
    <div class="splash">
      <div class="message">Loading...</div>
    </div>

    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
      System.import('aurelia-bootstrapper');
    </script>
  </body>
</html>
