<template>
    <require from="./unit.css"></require>
    <require from="components/progressBar/progress-bar"></require>
    <require from="components/castBar/cast-bar"></require>

    <div class="unit-container">
        
        <div class="portrait" css="background-image: ${unitImage};">
            <div class="log-item au-animate" repeat.for="logItem of combatLogDisplay" css="left: ${logItem.xPos};">
                ${logItem.text}
            </div>
        </div>
        <div class="bar-container">
            <span class="unit-name">${unit.name}</span>
            <progress-bar class="health-bar animate-bar" current-value.bind="unit.health" max-value.bind="unit.maxHealth"></progress-bar>
            <cast-bar class="casting-bar" progress.bind="unit.castProgress" action.bind="unit.castingAction"></cast-bar>
        </div>

        <div class="over-time-effects" repeat.for="effect of unit.overTimeEffects">
            ${effect.name}(${effect.stacks}): ${effect.remainingDuration | numberFormat: '0'}
        </div>

        ${unit.armorDamageReductionPercent | numberFormat: '0.00'}
        ${unit.totalDamageReductionPercent | numberFormat: '0.00'}

        <!--<div>
            <div repeat.for="threat of unit.threats">
                ${threat.unit.name}: ${threat.threat}
            </div>
        </div>-->
    </div>
</template>