.action-bar {
    padding: 10px;
    float: left;
}
.action-button {
    border: 1px solid #ccc;
    padding: 10px;
    background: #eee;
    cursor: pointer;
}
.action-button:hover {
    background: #ddd;
}
.action-button.active {
    border-color: blue;
}