$castBarColor: rgb(0,0,200);

.bar-container {
    float: left;
}
.portrait {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid #444;
    background-size: cover;
    border-radius: 100%;
    // box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
    margin-right: 15px;
}
.unit-container {
    border: 1px solid transparent;
    float: left;
    clear: left;
    padding: 10px;
}
.unit-container:hover {
    border-color: #ccc;
    cursor: pointer;
}
.unit-container.selected {
    border-color: blue;
}
.health-bar {
    margin-bottom: 5px;
    display: block;
}
.casting-bar .bar {
    background-color: $castBarColor;
}
.player-container,
.enemy-container {
    width: 50%;
    float: left;
}

  .portrait.au-enter-active {
    -webkit-animation:0.2s increase-size;
    animation:0.2s increase-size;
  }
  @keyframes decrease-size {
    from { height: 200px; }
    to { height: 0px; }
  }
  @-webkit-keyframes decrease-size{
    from { height: 200px; }
    to { height: 0px; }
  }
  .portrait.au-leave-active {
    -webkit-animation:0.2s decrease-size;
    animation:0.2s decrease-size;
  }